
<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" ng-click="index.dashboard()" class="navbar-brand">DASHBOARD</a>
        </div>
        <form class="navbar-form navbar-left" role="search" ng-submit="index.applyfilter()">
            <div class="form-group">
                <input type="text" class="form-control inc-wid" placeholder="Cuisine/name/location/table capacity" ng-model="index.search_query">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="Add Restaurent" ui-sref-active="active">Add Restaurant</a></li>
                <li><a ui-sref="View Customer Bookings" ui-sref-active="active">My Bookings</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse-->
    </div>
    <!-- /.container-fluid-->
</nav>