<div ng-include="'app/Components/bookRestaurant/bookNavbar.html'"></div>
<div ng-controller="bookingRestaurant">
    <h1 class="booking-name">You have choosen to book the {{Rname}} Restaurant</h1>
    <br/>
    <div class="col-md-6">
        <h4>Please fill out the below details</h4>
        <form class="form-group row" ng-submit="confirmRestaurant()">
            <div class="form-group row">
                <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
                <div class="col-xs-10">
                    <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input" ng-model="email_id">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-date-input" class="col-xs-2 col-form-label">Choose Date</label>
                <div class="col-xs-10">
                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input" ng-model="bookDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-time-input" class="col-xs-2 col-form-label">Time</label>
                <div class="col-xs-10">
                    <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="bookTime">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-number-input" class="col-xs-2 col-form-label">Duration</label>
                <div class="col-xs-10">
                    <input class="form-control" type="number" value="42" id="example-number-input" ng-model="bookDuration">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
    <img ng-src="../../../assets/images/{{img}}" class="col-md-6"/>
</div>